@media (max-width : 991px) {

	.section-padding .container {
		flex-direction: column;
	}

	.h2-bottom {
		margin-top: 40px;
	}

	/* about */
	.about-section {
		background: none;
	}

	/* main project */
	.button {
		width: 95%;
	}

	/* skill */
	.skills-section .row {
		display: block;
	}

	.skill-progress .progress {
		width: 100%;
	}

	.skill-progress {
		display: flex;
		width: 93%;
	}

	.skillrightmargin {
		margin: 0;
	}

	.progress-bar {
		display: block;
	}

	.portfolio-item {
		margin-bottom: 30px;
	}

	/* resume */
	.resume_box1,
	.resume_box2 {
		width: 100%;
	}

	.timeline-content {
		width: 90%;
		margin-left: auto;
	}

	/* main pfoject */
	.entry-title {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.project_text h3 {
		font-size: 18px;
	}

	.project_text p {
		font-size: 14px;
		padding: 5px 0 10px;
	}

	.button a {
		height: auto;
	}

	/* work */
	.short-info {
		width: 100%;
		padding-top: 30px;
	}

	.short-info h3 {
		margin-bottom: 20px;
	}

}

/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {
	.web_banner {
		display: none;
	}

	.mobile_banner {
		display: block;
	}

	.intro h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.social-icons ul {
		margin-left: 0;
	}

	.social-icons li {
		padding: 0;
	}

	.social-icons a i {
		margin: 0 5px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 100%;
	}

	.download-button .btn {
		margin-bottom: 20px;
	}

	/*  Popup Section */
	.popup_in {
		height: 80vh;
		align-items: center;
		align-content: flex-start;
	}

	.two img,
	.three img,
	.four img {
		width: 80%;
		object-fit: contain;
	}

	#pop1 img,
	#pop2 img {
		width: 90%;
	}

	.popup i {
		font-size: 40px;
		top: 30%;
		right: 10%;
	}

	/*resume*/
	.timeline-heading h3 {
		font-size: 18px;
	}

	.resume:before,
	.resume:after {
		left: 1px;
	}

	.timeline1>li .posted-date .month,
	.timeline2>li .posted-date .month {
		font-size: 14px;
	}

	/*skill section*/
	.skill-title h4 {
		font-size: 18px;
	}

	.skills-section .row {
		width: 99%;
	}

	.skill-progress {
		flex-wrap: wrap;
	}

	.progress-bar span {
		top: 22px;
		right: -60px;
	}

	.skill-title {
		width: 100%;
		padding-bottom: 10px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 40px;
	}

	.count-wrap h3 {
		font-size: 30px;
		line-height: 16px;
	}

	.count-wrap p {
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
	}

	.count-wrap>div {
		margin-bottom: 40px;
	}

	#filter li {
		margin-bottom: 20px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-title {
		padding: 20px 10px;
	}

	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section div>i {
		float: none;
		margin-right: 0;
	}

	.center-xs {
		text-align: center;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.personal-info h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.personal-info .intro-sub {
		font-size: 18px;
		line-height: 20px;
	}

	.personal-info p {
		line-height: 20px;
		margin-bottom: 20px;
	}

	.personal-info .my-signature {
		display: none;
	}

	.personal-info .download-button a {
		padding: 5px 10px;
		font-size: 15px;
		margin-right: 0;
	}
}

@media (max-width : 424px) {

	/* about */
	.short-info h3 {
		font-size: 20px;
	}

	.short-info p {
		font-size: 18px;
	}

	/* main project */
	.project_text {
		display: none;
	}

	/* artwork */
	.art_text h4 {
		font-size: 16px;
	}

	.art_text h6 {
		font-size: 12px;
	}

	/* resume */
	.timeline-content h3 {
		font-size: 14px;
	}

	.timeline1>li .posted-date .month,
	.timeline2>li .posted-date .month {
		font-size: 12px;
	}

	/* contact */
	.contact h4 {
		font-size: 16px;
	}

	.contact h5 {
		font-size: 12px;
	}

	.button {
		width: 70%;
	}

	/* footer */
	.copyright p {
		font-size: 10px;
	}

}


/* Extra small devices (phones, less than 339px) */
@media (max-width : 339px) {
	.section-padding {
		padding: 100px 0;
	}

	.section-title {
		font-size: 25px;
	}

	/* 전체 간격 조정 */
	.contact h2,
	.h2-bottom,
	.section-title,
	.skills-section .section-title {
		margin-bottom: 70px;
	}

	.short-info p {
		font-size: 12px;
	}

	/* work */
	.art_text h4 {
		font-size: 14px;
	}

	.art_text h6 {
		font-size: 10px;
	}

	.portfolio-info h3 {
		font-size: 10px;
	}

	/* skill */

	.m-skill {
		margin-bottom: 60px;
	}

	/* resume */
	.timeline1:before {
		height: 85%;
	}

	/* contact */
	.button {
		width: 70%;
	}
}


/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {
	.intro h1 {
		font-size: 60px;
		line-height: 80px;
	}

	.social-icons ul {
		margin-left: -5px;
	}

	.social-icons li {
		padding: 0 5px;
	}

	.social-icons a i {
		margin: 0 7px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 50%;
	}

	/*resume*/
	.resume:before,
	.resume:after {
		left: 1px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 64px;
	}

	.count-wrap h3 {
		font-size: 50px;
		line-height: 28px;
	}

	.count-wrap p {
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}

	.count-wrap>div {
		margin-bottom: 40px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-title {
		padding: 20px 10px;
	}

	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon,
	.contact-section .mobile-icon {
		float: none;
	}

	.center-xs {
		text-align: center;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.personal-info h1 {
		font-size: 60px;
		line-height: 80px;
	}

	.personal-info .intro-sub {
		font-size: 24px;
		line-height: 32px;
	}

	.personal-info p {
		font-size: 14px;
		line-height: 28px;
	}

	.personal-info .my-signature {
		margin-bottom: 45px;
		display: block;
	}

	.personal-info .download-button a {
		padding: 14px 20px;
		font-size: 14px;
		margin-right: 20px;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {
	.navbar-custom .navbar-brand {
		padding: 10px 15px;
	}

	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		font-size: 12px;
		padding: 15px;
	}

	.center-xs {
		text-align: left;
	}

	.portfolio-item {
		min-height: 162px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/* main project */
	.button {
		width: 95%;
	}

	.entry-title {
		padding: 15px;
	}

	/* work */
	.short-info h3 {
		font-size: 20px;
	}

	.short-info p {
		font-size: 16px;
	}

	/*resume*/
	.resume:before,
	.resume:after {
		left: 0px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon,
	.contact-section .mobile-icon {
		float: left;
	}


	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(3),
	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.button a {
		font-size: 15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {
	.section-title {
		font-size: 35px;
	}

	.portfolio-item {
		min-height: 150px;
	}

	.project_text h3 {
		font-size: 20px;
	}

	.button a {
		font-size: 15px;
	}
}